/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family: "Lato-BlackItalic" sans-serif;
  font-size: 10px ;
  line-height: 1.7;
  letter-spacing: 1px;
  word-spacing: normal;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */
@font-face{
  font-family: "Lato-Black" sans-serif;
  src: url("Lato-Black.ttf") format("truetype") ;


}

@font-face{
  font-family: "Lato-BoldItalic" sans-serif;
  src: url("Lato-BoldItalic.ttf") format(truetype);
}

h1{
  font-style: "Lato-BoldItalic" ;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}

h2{
  font-style: "Lato-BoldItalic";
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
}
 
u1 {
  color: black;
  list-style-type: square;
}

nav ul li{
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px ;
  border: 2px solid darkred;
}

ul li a,
p a {
  color: darkred;
}

ol li a {
color: darkred;
text-decoration: underline;
}

ul ol {
margin-top: 20px;
margin-bottom: 20 px;
padding-left: 20px;
}

ul li , ol li {
  line-height: 1.5;
  margin-bottom: 5px;
  list-style-type: square;
}

a{
  color: darkred;
  text-decoration: underline;
}

a:hover{
  text-decoration: none;
}

a:focus{
  text-decoration: none;
  outline: none;
  
}

section h1 + p ,
section h2 + p {
    text-indent: 20px;
}
div{
  width: 300px;
  border: 15px solid darkred;
  padding: 15 px;
  margin: 20 px;
  
}