body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display: flex; /* adding a flexbox */
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky; /*this makes the van bar sticky*/
    top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;  /*this displays the nav bar items in a row using flexbox*/
    justify-content: space-between; /*this distributes space evenly*/
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
   

  }

  .feature {
      width: 200px;
      float: left; /* this is for the text to wrap arount the image*/
      margin-right: 1em ;
  }